{:paths   ["src/clj" "resources"]

 :deps    {org.clojure/clojure           {:mvn/version "1.12.4"}
           io.github.clojure/tools.build {:mvn/version "0.10.12"}
           babashka/process              {:mvn/version "0.6.25"}
           babashka/fs                   {:mvn/version "0.5.31"}
           io.github.paintparty/bling    {:mvn/version "0.9.2"}
           selmer/selmer                 {:mvn/version "1.13.1"}
           cheshire/cheshire             {:mvn/version "6.1.0"}
           org.babashka/cli              {:mvn/version "0.8.67"}
           com.rpl/specter               {:mvn/version "1.1.6"}
           com.taoensso/carmine          {:mvn/version "3.5.0"}
           io.github.babashka/neil       {:git/sha "74cc79e4b936487635f964b4619a60fba46714d9"}}

 :tools/usage {:ns-default big-config.tools}

 :aliases {:dev  {:jvm-opts    ["-Djdk.attach.allowAttachSelf"]
                  :extra-deps  {com.lambdaisland/classpath          {:mvn/version "0.6.58"}
                                expound/expound                     {:mvn/version "0.9.0"}
                                pjstadig/humane-test-output         {:mvn/version "0.11.0"}
                                io.github.borkdude/quickdoc         {:git/sha "026b4fab8570853e38c3097fe1f8619abc95b2e0"}
                                org.clojure/tools.namespace         {:mvn/version "1.5.0"}}
                  :extra-paths ["env/dev/clj" "env/test/resources" "test/clj" "test/resources"]}

           :test {:extra-deps  {expound/expound                      {:mvn/version "0.9.0"}
                                io.github.cognitect-labs/test-runner {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                                                      :git/tag "v0.5.1"
                                                                      :git/sha "dfb30dd"}
                                pjstadig/humane-test-output          {:mvn/version "0.11.0"}
                                org.clojure/tools.namespace          {:mvn/version "1.5.0"}
                                com.lambdaisland/classpath           {:mvn/version "0.6.58"}
                                babashka/babashka                    {:mvn/version "1.12.215"}
                                aero/aero                            {:mvn/version "1.1.6"}
                                integrant/repl                       {:mvn/version "0.5.0"}
                                integrant/integrant                  {:mvn/version "1.0.1"}}
                  :exec-fn      cognitect.test-runner.api/test
                  :extra-paths ["env/test/resources" "test/clj" "test/resources"]
                  :main-opts   ["-e" "(require 'pjstadig.humane-test-output) (pjstadig.humane-test-output/activate!)"
                                "-m" "cognitect.test-runner" "--dir" "test/clj"]}}}
